p, h1, h2, h3, h4, h5, h6{
	font-family : Georgia;
}
p{
	font-size : 10pt
}
body{
	background-color : cfcfcf ;
	z-index : -2 ;
}
a {
	color :000;
}
#Ueberschrift{
	height : 85px;
	width : 300px ;
	z-index: 1 ;
    position: fixed;
	left: 50%;
	border-radius : 0px 0px 25px 25px;
	background-color : aabdef ;
	text-align : center ;
	margin-left : -150px;
}
#Inhaltsverzeichnis_Leben{
	height : 85px;
	width : 100px;
    position: fixed;
	left : 25% ;
	border-radius : 0px 0px 25px 25px;
	background-color : aabdef ;
	text-align : center ;
	margin-left : -50px;
	z-index : 1;
}
#Inhaltsverzeichnis_Buecher{
	height : 85px;
	padding-right : 30px;
	width : 170px;
	z-index : 1;
    position: fixed;
	left : 75% ;
	border-radius : 0px 0px 25px 25px;
	background-color : aabdef ;
	text-align : center ;
	margin-left : -100px;  
}
#Inhaltsverzeichnis_Buecher ul li {
	display : inline-block;
}
#Inhaltsverzeichnis_Buecher ul li:hover {
}
#Inhaltsverzeichnis_Buecher ul li:hover ul {
	display : block;
}
#Inhaltsverzeichnis_Buecher ul li ul {
	position : absolute;
	display : none ;
	width : 150%;
	background-color : aabdef;
	border-radius : 0px 25px 25px 25px;
}
#Inhaltsverzeichnis_Buecher ul li ul li {
	display : block;
}
#Daniel_Handler_Allgemeines{
	padding-left : 2%;
	width : 80% ;
	position: relative ;
	top : 100 ;
	left : 200 ;
	border: solid;
	border-color : 293133 ;
	height : 200px ;
}
#Daniel_Handler_Allgemeines p {
	width : 80%;
	font-size : 15pt;
}
#Daniel_Handler_Allgemeines_Bild{
	position: absolute ;
	right : 10 ;
	top : 10 ;
}
#Leben{
	padding-left : 2%;
	width : 80% ;
	position: relative ;
	top : 100 ;
	left : 200 ;
	border: solid;
	border-color : 293133 ; 
}
#Leben  p{
	width : 60% ;
}
#Leben_Bild{
	position: absolute ;
	right : 10 ;
	top : 10 ;
}

#Daniel_Handler{
	padding-left:15%;
	width : 65% ;
	position: relative ;
	top : 100 ;
	left : 200 ;
	border: solid;
	border-color : 293133 ; 
}
#Daniel_Handler p, h1, h2, h3, h4, h5, h6 {
	left : 4000 ;
}
#Daniel_Handler_Bild{
	position: absolute ;
	left : 10 ;
	top : 10 ; 
}
#Lemony_Snicket{
	padding-left : 2%;
	width : 80% ;
	position: relative ;
	top : 100 ;
	left : 200 ;
	border: solid;
	border-color : 293133 ;
}
#Lemony_Snicket  p{
	width : 50% ;
}
#Lemony_Snicket_Bild{
	position: absolute ;
	right : 30%	;
	top : 10 ;
}